APScheduler==3.9.1
certifi==2022.6.15
charset-normalizer==2.1.0
grpcio==1.47.0
idna==3.3
protobuf==3.20.1
pyTelegramBotAPI==4.6.0
python-dateutil==2.8.2
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
requests==2.28.1
six==1.16.0
tinkoff==0.1.1
tinkoff-investments==0.2.0b32
tzdata==2022.1
tzlocal==4.2
urllib3==1.26.10
